
* {
    font-family: "Junicode", "Times New Roman";
}

title {
    display: block;
    text-align: center;
    font-size: x-large;
    margin-top: 25px;
}

author {
    display: block;
    text-align: center;
    font-size: large;
}

publisher { 
    display: block;
    text-align: center;
}

publisher:before {
   content: "by: ";
}

msDesc {
    display: block;
    margin-top: 20px;
    margin-left: 25px;
}

msIdentifier:before {
    content: "Source: "
}

listPerson {
    display: none;
}

body:before {
    content: "Text:";
}

body {
    margin-left: 25px;
    margin-top: 15px;
    display: block;
}

div {
    margin: 100px;
}


w {
    margin-left: 5px;
}

p {
    display: block
}
