
orig {
    display: none;
}

abbr {
    display: none;
}

sic {
    display: none;
}

lg {
    padding: 10px;
    display: block;
}

l {
    margin-left: 25px;
    display: block;
}

lb:before {
    content: " | ";
}

hi {
    font-weight: bold;
}