

reg {
    display: none;
}

expan {
    display: none;
}


lb {
    margin-left: 25px;
    display: block;
    height: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

lb:before {
    content: "\n"
}


hi {
    color: red;
    font-weight: bold;
}