

reg {
    display: none;
}

expan {
    display: none;
}

corr {
    display: none;
}


lb {
    margin-left: 25px;
    display: block;
    height: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

l:before {
    content: " / "
}


hi {
    color: red;
    font-weight: bold;
}